<h1>Lista de Raças</h1>

<div>
    <a href="/raca/cadastrar">Cadastrar</a>
</div>

<table>
    <!--Cabeçalho da tabela -->
    <thead>
        <!--Linha da tabela-->
        <tr>
            <!-- Coluna específica do cabeçalho-->
            <th>Código</th>
            <th>Nome</th>
            <th>Espécie</th>
        </tr>
    </thead>
    <tbody>
        <!--Lugar dos registros da tabela-->
        @foreach (var raca in ViewBag.Racas)
        {
            <!--Linha-->
            <tr>
                <!--Coluna específica para body-->
                <td>@raca.Id</td>
                <td>@raca.Nome</td>
                <td>@raca.Especie</td>
            </tr>
        }
    </tbody>
</table>